{% extends "base.html" %}
{% block head_title %}- Receipt Home {% endblock %}

{% block page_content %}
<!-- Enter Asserts -->
<section class=" animatedParent animateOnce">
    <div class="container padding-bottom-none">
        <div class="section-content">
            <div class="row">

                <div class=" col-md-6 bg-f8 padding-tb margin-bottom-80 animated fadeInRightShort slow delay-500">
                    <div class="booking-from">
                        <h2>Issue<span class="color-defult"> Receipt</span></h2>
                        <div class="border-style-2 margin-bottom-30"></div>
                        <p class="margin-bottom-20">Enter Expenses</p>
                        <form method="post" id="get_expenses_form" action="#">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" name="payment_mode_query" class="btn-check"
                                            id="cash_payment" autocomplete="off" onclick="handle_radio_click(this);"
                                            checked>
                                        <label for="cash_payment">Cash</label>

                                        <input type="radio" name="payment_mode_query" class="btn-check" id="pos_payment"
                                            autocomplete="off" onclick="handle_radio_click(this);">
                                        <label for="pos_payment">POS</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" name="product_query" class="btn-check" id="test_medic"
                                            autocomplete="off" onclick="handle_radio_click(this);" checked>
                                        <label for="test_medic">Drug</label>

                                        <input type="radio" name="product_query" class="btn-check" id="test_"
                                            autocomplete="off" onclick="handle_radio_click(this);">
                                        <label for="test_">Test</label>

                                        <input type="radio" name="product_query" class="btn-check" id="treatment"
                                            autocomplete="off" onclick="handle_radio_click(this);">
                                        <label for="treatment">Medication</label>
                                    </div>
                                </div>

                                <div class="col-md-8 margin-bottom-10">
                                    <div class="input-group">
                                        <input type="text" name="name" id="product_purchased" class="form-control"
                                            placeholder="Enter Drug" required>
                                        <span class="input-group-btn"> <button type="button"
                                                class="form-control btn-danger" id="purchased_page_close"> <span
                                                    class="mx-1 icon-close" id="x_symbol"></span>
                                            </button></span>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="number" name="name" id="amount_purchased" class="form-control"
                                        placeholder="Select Amount" value="1" min="1" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="receiver_name" id="receiver_name" class="form-control"
                                        placeholder="Enter name of Receiver..." required>
                                </div>


                                <div class="col-md-12">
                                    <div class="contact-textarea">
                                        <button class="btn btn-theme" type="submit" value="Submit Form">Add to
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-hover" id="pos_table">
                            <thead>
                                <tr>
                                    <th class="quantity">QTY</th>
                                    <th class="product">Product</th>
                                    <th class="amount">Subtotal</th>
                                    <th class="amount">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-body text-right" id="clear_export_print" hidden>
                        <button style="border-radius: 7px;" class="menu-shop-btn-danger" onclick=clear_the_cart()>Clear
                            Cart</button>
                        <button style="border-radius: 7px;" class="menu-shop-btn" onclick=print_and_save()>Print &
                            Save</button>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Assets end -->
{% endblock page_content %}

{% block javascript %}
<script>
    let drugs_arry_finali = []
    let prescription_arry_finali = []
    let test_arry_finali = []
    let user_arry_finali = []
    // let drugs_arry_finali_table = []
    // let drugs_arry = []
    var product_qty = 0;
    var product_total_cost = 0

    $("#purchased_page_close").on('click', function () {
        document.getElementById('product_purchased').value = ''
    })

    function handle_radio_click(product_query) {
        if (document.getElementById('test_medic').checked) {
            document.getElementById('product_purchased').setAttribute('placeholder', 'Enter Drug')
            document.getElementById('product_purchased').value = ''
            $('#amount_purchased').removeAttr("disabled");

        }

        if (document.getElementById('test_').checked) {
            document.getElementById('product_purchased').setAttribute('placeholder', 'Enter Test')
            document.getElementById('product_purchased').value = ''
            $('#amount_purchased').removeAttr("disabled");
        }

        if (document.getElementById('treatment').checked) {
            document.getElementById('product_purchased').setAttribute('placeholder', 'Enter Medication')
            document.getElementById('product_purchased').setAttribute('value', '')
            $('#amount_purchased').attr("disabled", true);
            document.getElementById('product_purchased').value = ''
        }
    }

    function get_users() {
        $.ajax({
            type: 'GET',
            url: '{% url "accounts:search_user_ajax" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (content) {
                if (content.data) {
                    let arr = []
                    arr.length = 0;
                    for (var i in JSON.parse(content.users)) {
                        arr.push(JSON.parse(content.users)[i][0])
                    }
                    user_arry_finali = arr
                }
                else{
                    console.log('@@@@@@@@@@@@@');
                }
            }
        });
    }

    function get_drugs() {
        $.ajax({
            type: 'GET',
            url: '{% url "receipt_home:search_drug_test_ajax" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            dataType: 'json',
            data: {
                drug_test: 'Drug'
            },
            success: function (content) {
                if (content.data) {
                    let arr = []
                    arr.length = 0;
                    for (var i in JSON.parse(content.drugs)) {
                        arr.push(JSON.parse(content.drugs)[i][0])
                    }
                    drugs_arry_finali = arr
                }
            }
        });
    }

    function get_test() {
        $.ajax({
            type: 'GET',
            url: '{% url "receipt_home:search_drug_test_ajax" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            dataType: 'json',
            data: {
                drug_test: 'Test'
            },
            success: function (content) {
                if (content.data) {
                    let arr = []
                    arr.length = 0;
                    for (var i in JSON.parse(content.drugs)) {
                        arr.push(JSON.parse(content.drugs)[i][0])
                    }
                    test_arry_finali = arr
                }
            }
        });
    }


    function get_pres() {
        $.ajax({
            type: 'GET',
            url: '{% url "receipt_home:search_prescription_ajax" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (content) {
                if (content.data) {
                    let arr = []
                    arr.length = 0;
                    for (var i in JSON.parse(content.prescription)) {
                        arr.push(JSON.parse(content.prescription)[i][0])
                    }
                    prescription_arry_finali = arr
                }
            }
        });
    }


    $('#get_expenses_form').submit(function (e) {
        e.preventDefault()
        var product = $("#product_purchased").val()
        var drug_test = ''
        if (document.getElementById('test_medic').checked) {
            drug_test = 'test_medic';

        }
        if (document.getElementById('treatment').checked) {
            drug_test = 'medication'

        }

        if (document.getElementById('test_').checked) {
            drug_test = 'Test'
        }

        $.ajax({
            type: 'GET',
            url: '{% url "receipt_home:search_drug_prescription_ajax" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            dataType: 'json',
            data: {
                'drug_test': drug_test,
                'product': product
            },
            success: function (content) {
                if (content.data) {
                    //    if (drug_test === 'Test')
                    //    if (drug_test === 'medication')
                    var amount = document.getElementById('amount_purchased').value
                    var btn_clear = "<button type='button' class='btn' onclick='productDelete(this)'>  <i class='icon-close'> </i> </button>";
                    if (drug_test === 'Test') {
                        if (content.length > 0) {

                            if ($('#pos_table tbody').length == 0) {
                                $('#pos_table tbody').append("<tbody></tbody>");
                                $("#clear_export_print").attr("hidden", true);
                            }

                            if ($('#pos_table tbody').length > 0) {
                                $("#clear_export_print").removeAttr("hidden");
                            }

                            // console.log($('#pos_table tbody').length);

                            if (document.getElementById("pos_table").rows.length > 0) {
                                $("#clear_export_print").removeAttr("hidden");
                            }

                            if (document.getElementById("pos_table").rows.length >= 2) {
                                $("#pos_table tbody tr:last").remove();
                            }

                            for (var i in JSON.parse(content.drug_test)) {
                                // console.log(JSON.parse(content.drug_test)[i][0]);
                                var amt_total = amount * JSON.parse(content.drug_test)[i][1]
                                $('#pos_table tbody').append("<tr>" +
                                    "<td>" + amount + " x</td>" +
                                    "<td>" + JSON.parse(content.drug_test)[i][0] + " Test</td>" +
                                    "<td> ₦" + amt_total + "</td>" +
                                    "<td>" + btn_clear + "</td>" +
                                    "</tr>"
                                );
                                product_qty = parseInt(product_qty) + parseInt(amount);
                                product_total_cost = parseInt(product_total_cost) + parseInt(amt_total);
                            }

                            $('#pos_table tbody').append("<tr>" +
                                "<td class='total-quantity' colspan='2'><strong id='total-quantity-medication'>" + product_qty + "</strong> x<strong></strong></td>" +
                                // "<td></td>" +
                                "<td class='total-amount'> <strong>₦</strong><strong id='total-amount-medication'>" + product_total_cost + "</strong></td>" +
                                "</tr>"
                            );
                        }
                        else {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: content.error,
                                showConfirmButton: false,
                                timer: 2000
                            });
                        }
                    }

                    if (drug_test === 'test_medic') {
                        if (content.length > 0) {

                            if ($('#pos_table tbody').length == 0) {
                                $('#pos_table tbody').append("<tbody></tbody>");
                                $("#clear_export_print").attr("hidden", true);
                            }

                            if ($('#pos_table tbody').length > 0) {
                                $("#clear_export_print").removeAttr("hidden");
                            }

                            if (document.getElementById("pos_table").rows.length > 0) {
                                $("#clear_export_print").removeAttr("hidden");
                            }

                            if (document.getElementById("pos_table").rows.length >= 2) {
                                $("#pos_table tbody tr:last").remove();

                            }
                            for (var i in JSON.parse(content.drug_test)) {
                                // console.log(JSON.parse(content.drug_test)[i][0]);
                                var amt_total = amount * JSON.parse(content.drug_test)[i][1]
                                $('#pos_table tbody').append("<tr>" +
                                    "<td>" + amount + " x</td>" +
                                    "<td>" + JSON.parse(content.drug_test)[i][0] + "</td>" +
                                    "<td> ₦" + amt_total + "</td>" +
                                    "<td>" + btn_clear + "</td>" +
                                    "</tr>"
                                );
                                product_qty = parseInt(product_qty) + parseInt(amount);
                                product_total_cost = parseInt(product_total_cost) + parseInt(amt_total);
                            }

                            $('#pos_table tbody').append("<tr>" +
                                "<td class='total-quantity' colspan='2'><strong id='total-quantity-medication'>" + product_qty + "</strong> x<strong></strong></td>" +
                                // "<td></td>" +
                                "<td class='total-amount'> <strong>₦</strong><strong id='total-amount-medication'>" + product_total_cost + "</strong></td>" +
                                "</tr>"
                            );

                        }
                        else {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: content.error,
                                showConfirmButton: false,
                                timer: 2000
                            });
                        }
                    }


                    if (drug_test === 'medication') {
                        if (content.length > 0) {
                            if ($('#pos_table tbody').length == 0) {
                                $('#pos_table tbody').append("<tbody></tbody>");
                                $("#clear_export_print").attr("hidden", true);
                            }

                            if ($('#pos_table tbody').length > 0) {
                                $("#clear_export_print").removeAttr("hidden");
                            }

                            if (document.getElementById("pos_table").rows.length > 0) {
                                $("#clear_export_print").removeAttr("hidden");
                            }

                            if (document.getElementById("pos_table").rows.length >= 2) {
                                $("#pos_table tbody tr:last").remove();

                            }
                            for (var i in JSON.parse(content.drug_test)) {
                                // console.log(JSON.parse(content.drug_test)[i][0]);
                                var amt_total = JSON.parse(content.drug_test)[i][2] * JSON.parse(content.drug_test)[i][1]
                                $('#pos_table tbody').append("<tr>" +
                                    "<td>" + JSON.parse(content.drug_test)[i][2] + " x</td>" +
                                    "<td>" + JSON.parse(content.drug_test)[i][0] + "</td>" +
                                    "<td> ₦" + amt_total + "</td>" +
                                    "<td>" + btn_clear + "</td>" +
                                    "</tr>"
                                );
                                product_qty = parseInt(product_qty) + parseInt(JSON.parse(content.drug_test)[i][2]);
                                product_total_cost = parseInt(product_total_cost) + parseInt(amt_total);
                            }

                            $('#pos_table tbody').append("<tr>" +
                                "<td class='total-quantity' colspan='2'><strong id='total-quantity-medication'>" + product_qty + "</strong> x<strong></strong></td>" +
                                // "<td></td>" +
                                "<td class='total-amount'> <strong>₦</strong><strong id='total-amount-medication'>" + product_total_cost + "</strong></td>" +
                                "</tr>"
                            );
                        }
                        else {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: content.error,
                                showConfirmButton: false,
                                timer: 2000
                            });
                        }
                    }

                    if (product_qty > 1) {
                        document.getElementById('total-quantity-medication-cart').innerHTML = 'Total ' + product_qty + ' Item';
                    }
                    else if (product_qty === 0) {
                        document.getElementById('total-quantity-medication-cart').innerHTML = 'No Item';
                    }
                    else {
                        document.getElementById('total-quantity-medication-cart').innerHTML = 'Total ' + product_qty + ' Item';
                    }
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: content.error,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
                document.getElementById('product_purchased').value = ''
                $('#product_purchased').focus()
            }
        });
    })

    function tablejson(tableid) {
        var table = $(tableid).tableToJSON({
            ignoreColumns: [4],
            headings: ['quantity', 'product', 'subtotal']
        });
        table.splice(0, 1);
        table.splice(table.length - 1, 1);
        return table;
    }

    function print_and_save() {
        var mode_of_payment = 'Cash'
        if(document.getElementById('cash_payment').checked){
            var mode_of_payment = 'Cash'
        }
        if(document.getElementById('pos_payment').checked){
            var mode_of_payment = 'POS'
        }

        var received_from = document.getElementById("receiver_name").value
        Swal.fire({
            title: 'Make Printout?',
            text: "Yes I want to print and save receipt for "+ received_from,
            position: 'top-end',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#00B092',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Print!'
        }).then((result) => {
            if (result.value) {
                table = tablejson('#pos_table');
                $.ajax({
                    type: 'POST',
                    url: '{% url "receipt_home:export_and_print" %}',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    data: {
                        mode_of_payment, mode_of_payment,
                        received_from: received_from,
                        table: JSON.stringify(table)
                    },
                    success: function (content) {
                        if (content.data) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: content.success,
                                showConfirmButton: false,
                                timer: 1500
                            })
                            // clear_the_cart()
                        }
                        else {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: content.error,
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                })
            }
        })
    }

    function clear_the_cart() {
        $("#pos_table tbody tr").remove();
        $("#clear_export_print").attr("hidden", true);
        product_qty = 0
        product_total_cost = 0

    }

    function productDelete(ctl) {
        $(ctl).parents("tr").remove();
        if (document.getElementById("pos_table").rows.length == 2) {
            $("#pos_table tbody tr").remove()
            $("#clear_export_print").attr("hidden", true);
        }

        product_qty = 0
        product_total_cost = 0
        for (let element of tablejson('#pos_table')) {
            product_qty = parseInt(product_qty) + parseInt(element.quantity.replace('x', "").trim());
            product_total_cost = parseInt(product_total_cost) + parseInt(element.subtotal.replace('₦', "").trim());
        }
        if (document.getElementById("pos_table").rows.length > 2) {
            document.getElementById('total-amount-medication').innerHTML = product_total_cost;
            document.getElementById('total-quantity-medication').innerHTML = product_qty;
            document.getElementById('total-quantity-medication-cart').innerHTML = product_qty;
        }

        if (product_qty > 1) {
            document.getElementById('total-quantity-medication-cart').innerHTML = 'Total ' + product_qty + ' Items';
        }
        else if (product_qty === 0) {
            document.getElementById('total-quantity-medication-cart').innerHTML = 'No Item';
        }
        else {
            document.getElementById('total-quantity-medication-cart').innerHTML = 'Total ' + product_qty + ' Item';
        }
    }


    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    $('#product_purchased').focus(function () {
        if (document.getElementById('test_medic').checked) {
            get_drugs()
            autocomplete(document.getElementById("product_purchased"), drugs_arry_finali);

        }
        if (document.getElementById('test_').checked) {
            get_test()
            autocomplete(document.getElementById("product_purchased"), test_arry_finali);

        }
        if (document.getElementById('treatment').checked) {
            get_pres()
            autocomplete(document.getElementById("product_purchased"), prescription_arry_finali);
        }
    })
    
    $('#receiver_name').focus(function () {
        get_users()
        autocomplete(document.getElementById("receiver_name"), user_arry_finali);
    })

    get_users()
    get_drugs()
    get_pres()
    get_test()
</script>

{% endblock javascript %}